*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    margin-bottom: 50px;
}

.links{
    border: solid 1px #000;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    background-color: rgb(72, 173, 255);
}

.links:nth-child(2){
    background-color: rgb(180, 148, 255);
}

.links:nth-child(3){
    background-color: rgb(230, 255, 120);
}

.links:nth-child(4){
    background-color: rgb(135, 255, 239);
}

.volver{
    text-decoration: 20px;
    font-size: 30px;
    border: solid 1px #000;
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(255, 169, 39);
    color: #000;
}